body {
  margin: 0px;
}

.hidden {
  display: none;
}

.inactive {
  opacity: 0.7;
}

#glcanvas {
  margin: 0px;
}
#glcanvas_overlay {
  position: absolute;
  margin: 0px;
  z-index: 100;
}

#menu {
  margin: 0px auto;
  padding: 0px;
  border: 2px solid #000;
  width: 200px;
  position: absolute;
  z-index: 200;
  text-align: center;
  background-color: #667;
  font-family: "sans-serif";
}
#menu menuitem {
  display: block;
  margin: 0px;
  padding: 5px;
  border: 2px solid rgba(1,1,1,0);
  cursor:default;
}
#menu menuitem.selectable:hover {
  background-color: #889;

}
.selected {
  background-color: #889;
  cursor:default;
  border: 2px outset #222 !important;
}
.unselected {
  background-color: inherit;
  cursor:default;
}

.clicked {
  border: 2px inset #222 !important;
}

.unchecked {
  background-image: url("img/unchecked.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right;
}
.checked {
  background-image: url("img/checked.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right;
}
